In [46]:
import pandas as pd

In [47]:
# Data Imports
airlines = pd.read_csv('./data/airlines.csv')
airplanes = pd.read_csv('./data/airplanes.csv')
airports = pd.read_csv('./data/airports.csv')
routes = pd.read_csv('./data/routes.csv')

In [48]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7698 entries, 0 to 7697
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Airport ID             7698 non-null   int64
 1   Name                   7698 non-null   object
 2   City                   7649 non-null   object
 3   Country                7698 non-null   object
 4   IATA                   7698 non-null   object
 5   ICAO                   7698 non-null   object
 6   Latitude               7698 non-null   float64
 7   Longitude              7698 non-null   float64
 8   Altitude               7698 non-null   int64
 9   Timezone               7698 non-null   object
 10  DST                    7698 non-null   object
 11  Tz database time zone  7698 non-null   object
 12  Type                   7698 non-null   object
 13  Source                 7698 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 842.1+ KB

In [49]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 67663 non-null  object
 1   Airline ID              67663 non-null  object
 2   Source airport          67663 non-null  object
 3   Source airport ID       67663 non-null  object
 4   Destination airport     67663 non-null  object
 5   Destination airport ID  67663 non-null  object
 6   Codeshare               14597 non-null  object
 7   Stops                   67663 non-null  int64
 8   Equipment               67645 non-null  object
dtypes: int64(1), object(8)
memory usage: 4.6+ MB

In [50]:
valid_routes = routes[routes['Destination airport ID'].str.isnumeric() & routes['Source airport ID'].str.isnumeric()]
valid_routes[['Source airport ID', 'Destination airport ID']] = valid_routes[['Source airport ID', 'Destination airport ID']].astype(int)

/Users/willsmith/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [51]:
src_locs = airports[['Name', 'IATA', 'City', 'Country', 'Latitude', 'Longitude']].copy()
dest_locs = src_locs.copy()
# src_locs = src_locs.rename(columns={'Latitude': 'src_lat', 'Longitude': 'src_long'})
# dest_locs = dest_locs.rename(columns={'Latitude': 'dest_lat', 'Longitude': 'dest_long'})
src_locs = src_locs.add_prefix('src_')
dest_locs = dest_locs.add_prefix('dest_')

In [53]:
full = pd.merge(routes, src_locs, left_on='Source airport', right_on='src_IATA', how='left')
full = pd.merge(full, dest_locs, left_on='Destination airport', right_on='dest_IATA', how='left')

In [55]:
# Export dataset to file
full.to_csv('routes.csv',index=False)

In [57]:
airlines

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,-1,Unknown,\N,-,NaN,\N,\N,Y
1,1,Private flight,\N,-,NaN,NaN,NaN,Y
2,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
...,...,...,...,...,...,...,...,...
6157,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y
6158,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N
6159,21268,Jetgo Australia,NaN,JG,\N,NaN,Australia,Y
6160,21270,Air Carnival,NaN,2S,\N,NaN,India,Y
6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y